* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: #ebcfb2;
    flex-direction: row;
    padding: 10px;
    font-size: 20px;
}

.whole-cv {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fffbf5;
}

.first-row-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.second-row-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0px;
}

.name-section {
    width: 70%;
    margin: 0px 0px 0px 20px;
    padding: 5px;
}

.name-section {
    text-align: justify;
}

.contact-section {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0px 0px 0px 20px;
    padding: 5px;
}

.experience-section {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.work-section {
    width: 70%;
    text-align: justify;
    margin: 0px 0px 0px 50px;
}

.position-held{
    margin: 5px 0px 50px 0px;
}

.position-and-description {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 20px 0px;
}

.position-and-description h3 {
    margin-bottom: 5px;
}

.position-and-description p {
    margin: 1px 0px;
}

.key-points-list li {
    margin: 5px 0px;
}


.educational-section {
    width: 70%;
    text-align: justify;
    margin: 0px 0px 0px 50px;
}

.skills-section {
    width: 20%;
    text-align: justify;
    margin: 0px 0px 0px 50px;
}