* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: #ebcfb2;
    flex-direction: row;
    padding: 10px;
    font-size: 20px;
}

.whole-cv {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fffbf5;
}

.first-row-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.second-row-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0px;
}